@model IEnumerable<PizzaApp2.Models.Orders>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Quantity", "Index", new { sortOrder = ViewBag.Quantity })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_idUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza_IdPizza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Location_IdLocation)
            </th>
            <th>
                @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPizza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_idUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza_IdPizza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Location_IdLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrder)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
